omnivla-finetuned-cast/
omnivla-original/
MBRA/
MBRA_BDD/
OmniVLA.egg-info/
prismatic/vla/datasets/sampler/
prismatic/vla/datasets/bdd_dataset_.py
prismatic/vla/datasets/cast_dataset_.py
prismatic/vla/datasets/lelan_dataset_.py
prismatic/vla/datasets/gnm_dataset_.py
prismatic/vla/datasets/frodobots_dataset_.py
vla-scripts/train_asyncvla_.py
config_nav/mbra_and_dataset_config_.yaml
visualization/
runs/
# Ignore all __pycache__ directories everywhere
**/__pycache__/
# Ignore all wandb directories everywhere
**/wandb/
AsyncVLA_release/
AsyncVLA_v0/
inference/run_asyncvla_.py
inference/run_asyncvla_v0_.py

results/